<!DOCTYPE html>
<html lang="en">

<%- include('include/_head') %>

    <body>

        <%- include('include/_add-sort') %>

            <% for(let i=0; i<data.length; i++) { %>

                <div class="taskRow">

                    <div class="task">

                        <a id="editBtn" href="/edit/<%= data[i]._id %>?page=<%= page %>&&sorted=<%= sorted %>"><i class="fas fa-pen"></i></a>
                        <div id="nameDateWrapper">
                            <span id="taskName"><%= data[i].name %></span>
                            <span id="taskDate"><%= data[i].date.toString().split(" ").slice(0, 4).join(" ") %></span>
                        </div>
                    </div>
                    <div id="deleteBtn">
                        <a href="/delete/<%= data[i]._id %>"><i class="fas fa-times"></i></a>
                    </div>

                </div>
                <% } %>

                    <%- include('include/_pagination') %>

    </body>

</html>